*{
    margin: 0%;
    padding: 0%;
    font-family: "Raleway" , sans-serif;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    'header header'
    'nav main'
    'footer footer';
}

header{
    grid-area: header;
    background-color: #222222;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-size: cover;
    background-position: center;
    height: 110px;
    border-bottom: 0.1px solid  rgb(220, 220, 220);
}

h1{
    font-size: 40px;
    font-weight: 110;
    margin-top: 22px;
    margin-left: 150px;
}

.pheader{
    margin-left: 220px;
    padding-top: 2px;
}

nav{
    grid-area: nav;
    background-color: rgb(242, 242, 242);
    border-right: 0.1px solid rgb(220, 220, 220);
    min-height: 100vh;
}

.categorias{
    padding-left: 40px;
    padding-top: 50px ;
    font-size: 20px;
    font-weight: bold;
}

nav ul{
    display: flex;
    flex-direction: column;
    color: black;
    list-style: none;
    gap: 10px;
    align-items: start;
    padding-top: 20px;
    padding-left: 40px;
}

.entradas{
    font-size: 28px;
    padding-bottom: 0%;
    margin-bottom: 0%;
    padding-left: 75px;
    margin-top: 45px;
    margin-bottom: 10px;
    
}

.titulo{
    grid-area: main;
    margin: 40px;
    margin-top: 0%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 100vh;
}

.productos{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px;
    width: 250px;
}

.productos img{
    width: 250px;
    height: 270px;
    border-radius: 10%;
    align-self: center;
}

.productos h3{
    margin-top: 5px;
    margin-left: 15px;
}

.productos p{
    margin-left: 15px;
}

.precio{
    align-self: flex-end;
    padding-right: 25px;
}

button{
    margin-top: 5px;
    align-self: center;
    background-color: #222222;
    color: white;
}

button p{
    padding: 5px;
    padding-left: 80px;
    padding-right: 80px;
}

footer{
    grid-area: footer;
    border-top: 0.1px solid rgb(220, 220, 220);
    background-color: #222222;
    color: white;
    margin-bottom: 0%;
    padding-top: 15px;
    height: 50px;
    text-align: center;
    font-size: 15px;
}
